body {
    margin: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* IE and Edge */
    background-color: black;
    user-select: none;
    width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.background-banner {
    height: 100%;
    width: 100%;
    position: relative;
}

.background-banner .text-container {
    position: absolute;
    z-index: 2;
    width: 80%;
    margin: 0 10% 0 10%;
    height: 100%;
}

.background-banner .text-container .navbar {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 18px;
    font-family: 'Proza Libre', sans-serif;
    height: 5%;
}

.background-banner .text-container .navbar .navitem {
    margin: 2px 7px;
    cursor: pointer;
}

.background-banner .text-container .intro {
    height: calc(95% - 45px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-banner .text-container .intro div {
    text-align: center;
    color: white;
}

.background-banner .text-container .intro .intro-start {
    font-size: 30px;
    word-spacing: 5px;
}

.background-banner .text-container .intro .intro-name {
    font-size: 50px;
    word-spacing: 5px;
}

.background-banner .text-container .intro .intro-end {
    font-size: 20px;
}
.background-banner .image-container{
    width: 100%;
    height: 100%;
}
.background-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.7);
    filter: brightness(50%);
    animation: move 80s ease;
    animation-iteration-count: infinite;
    -ms-animation: move 80s ease;
    -webkit-animation: move 80s ease;
    /* -0-animation: move 40s ease;
    -moz-animation: move 40s ease; */
}

@media only screen and (max-width: 600px) {
    .background-banner .text-container .navbar {
        font-size: 15px;
        padding-left: 0;
        padding-right: 0;
    }
    .background-banner .text-container .intro .intro-start {
        font-size: 25px;
        word-spacing: 0px;
    }
    .background-banner .text-container .intro .intro-name {
        font-size: 45px;
        word-spacing: 0px;
    }
    .background-banner .text-container .intro .intro-end {
        font-size: 17px;
    }
}

@keyframes move {
    0% {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        transform: scale(1.0);
        -ms-transform: scale(1.0);
        /* IE 9 */
        -webkit-transform: scale(1.0);
        /* Safari and Chrome */
        -o-transform: scale(1.0);
        /* Opera */
        -moz-transform: scale(1.0);
        /* Firefox */
    }
    50% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari and Chrome */
        -o-transform: scale(1.2);
        /* Opera */
        -moz-transform: scale(1.2);
        /* Firefox */
    }
    100% {
        -webkit-transform-origin: bottom right;
        -moz-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        -o-transform-origin: bottom right;
        transform-origin: bottom right;
        transform: scale(1.0);
        -ms-transform: scale(1.0);
        /* IE 9 */
        -webkit-transform: scale(1.0);
        /* Safari and Chrome */
        -o-transform: scale(1.0);
        /* Opera */
        -moz-transform: scale(1.0);
        /* Firefox */
    }
}
